.clanpress_modes {
  &__mode {
    transition: color 0.5s;

    cursor: pointer;
    color: #CCC;
    width: 200px;
    margin: 0 8px 8px 0;
    display: inline-block;
    text-decoration: none;

    &:hover,
    &.active {
      color: #000;

      .clanpress_modes__image {
        border-color: #000;
      }
    }
  }

  &__image {
    transition: border-color 0.5s;

    padding: 4px;
    border: 1px solid #CCC;
    line-height: 0;

    img {
      width: 100%;
      height: auto;
    }
  }

  &__description {
    padding: 2px;

    strong {
      display: block;
    }
  }
}
